<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel=" stylesheet"  href="/css/footer.css" >
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" id="bootstrap-css">
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body> 
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <a href="#" class="navbar-brand">RIZERVA</a>
                    </div>

                    <div class="navbar-collapse collapse" id="mobile_menu">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Home</a></li>
                            <!--
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Employee<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><span class="glyphicon glyphicon-plus"></span> Add an employee</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-th-list"></span> All employees</a></li>
                                    
                                </ul>
                            </li>-->

                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Appointment<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <!--<li><a href="#"><span class="glyphicon glyphicon-plus"></span> Add availability</a></li>-->
                                    <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Schedule</a></li>
                                    
                                </ul>
                            </li>
                            <!--
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Customer<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">My appointments</a></li>
                                    <li><a href="#">All customer accounts</a></li>
                                </ul>
                            </li>-->
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>-->
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-hamburger"></span><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/employee/profile"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
                                   <!-- <li><a href="#"><span class="glyphicon glyphicon-scissors"></span> My salon</a></li>-->
                                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form action="" class="navbar-form">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="search" name="search" id="" placeholder="Search Anything Here..." class="form-control">
                                            <span class="input-group-addon"><a href="#"><span class="glyphicon glyphicon-search"></span></a></span>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <i th:if="${user}" >
    	User: <i th:utext="${user.emp.firstName}"></i> <i th:utext="${user.emp.lastName}"></i>
    </i>
    <br><br>
    
    <div th:if="${profilePage}" style="margin-bottom: 200px">
    	<div th:include="profile::profile"></div>
    </div>
    
    <div th:if="${homePage}" style="margin-bottom: 500px">Home</div>
    
    <footer th:include="footer::footer"></footer>
</body>

</html>